.project-container {
  border-bottom: solid 1px grey;
  width: 70ch;
  min-height: 85vh;
  margin: 1rem 0;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas:
    'heading heading'
    'image text';
  position: relative;
  scroll-snap-align: start;
}

.project-title {
  grid-area: heading;
  font-size: 2.5rem;
  margin-top: 0;
  display: flex;
  align-items: center;
}

.project-container > .preview-container {
  grid-area: image;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.image-container {
  position: relative;
}

.image-container > img {
  width: 100%;
  height: auto;
}

.image-container > img.showFilter {
  animation: filterImage 500ms;
  animation-fill-mode: forwards;
}

.title-container {
  grid-area: text;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.project-icons-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.project-icons-container > a {
  text-decoration: none;
  color: inherit;
}

.title-icons-container > a:visited {
  color: rgb(255, 0, 166);
}

.text-container {
  height: 100%;
  width: 100%;
  grid-area: text;
  margin-left: 2rem;
  display: grid;
  grid-template-areas:
    'summary'
    'technologies'
    'year';
}

.text-container > h4 {
  margin-bottom: 0;
}

.description-container {
  grid-area: summary;
  margin-top: 0;
}

.project-description {
  margin-top: 0;
}

.project-description-heading {
  color: var(--green);
  margin: 0;
}

.technologies-container {
  grid-area: technologies;
  margin-top: 0;
}
.project-technologies-heading {
  color: var(--cyan);
  margin: 0;
}

.project-technologies {
  margin-top: 0;
}

.year-container {
  grid-area: year;
  margin-top: 0;
}

.project-year-heading {
  color: var(--red);
  margin: 0;
}

.project-year {
  margin-top: 0;
}

.project-icons-container > button {
  background-color: unset;
  border: none;
  font-size: 1.3rem;
  font-weight: 500;
  /*   height: 3rem; */
  width: 33%;
  font-family: 'IBM Plex Mono', monospace;
}

.project-icons-container > button > * {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.previewBtn > div {
  color: var(--pink);
  cursor: pointer;
}

.github-link-button > a {
  color: var(--yellow);
}

.live-link-button > a {
  color: var(--orange);
}

.previewBtn > div:hover {
  background-color: var(--pink);
  color: unset;
}

.github-link-button > a:hover {
  background-color: var(--yellow);
  color: unset;
}

.live-link-button > a:hover {
  background-color: var(--orange);
  color: unset;
}

@keyframes filterImage {
  0% {
    filter: grayscale(0);
  }
  50% {
    filter: grayscale(100%);
  }
  100% {
    filter: grayscale(0);
  }
}

@media only screen and (max-width: 821px) {
  .project-container {
    padding: 5rem 0;
  }

  .project-container > * {
    padding: 0 1rem;
  }

  .project-container > .preview-container {
    height: auto;
    padding-bottom: 2rem;
  }
}

@media only screen and (max-width: 480px) {
  .project-container {
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-areas:
      'heading'
      'image'
      'text';
  }

  .image-container {
    min-height: 25vh;
  }

  .project-icons-container {
    gap: 0;
  }

  .project-icons-container > button {
    font-size: 1.1rem;
  }
}
