.about-container {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-text {
  box-sizing: border-box;
  width: 50%;
  color: var(--yellow);
  line-height: 1.5;
  text-align: justify;
}

.about-content {
  min-height: 2rem;
  overflow: hidden;
}

.red {
  color: var(--red);
}

.blue {
  color: var(--blue);
}

.green {
  color: var(--green);
}

.pink {
  color: var(--pink);
}

.yellow {
  color: var(--yellow);
}

@media only screen and (max-width: 821px) {
  .about-text {
    padding: 0 5rem;
  }
}

@media only screen and (max-width: 480px) {
  .about-text {
    width: 100%;
    padding: 0 2rem;
    line-height: 1.2;
  }

  .about-content {
    min-height: 20%;
  }
}
