.panels {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
  font-family: IBM Plex Mono, monospace;
  font-weight: 500;
  background-color: var(--background-dark);
}

.panel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  /*   flex: 1; */
  transition: all 0.5s ease-in-out;
  color: white;
  font-size: 0.8rem;
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.panel.open {
  flex: 100 0 auto;
  font-size: 20px;
  height: 100%;
  max-height: 85vh;
  display: flex;
}

.panel.closed {
  cursor: pointer;
  height: 5vh;
}

.panel.closed > div {
  transform: translateX(100%);
  transition: all 0.5s;
  height: 1rem;
}

.panel > * {
  transition: transform 0.5s;
  min-width: 100%;
}
.panel > *:first-child {
  transform: translateX(50%);
}
.panel.open > *:first-child {
  transform: translateX(-100%);
}

.panel > *:last-child {
  transform: translateX(100%);
}
.panel.open > *:last-child {
  transform: translateX(-50%);
}

.panel h1 {
  text-align: center;
  font-size: 1.5em;
}

.panel-heading-intro {
  color: var(--yellow);
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel-heading-projects {
  color: var(--green);
}

.panel-heading-skills {
  color: var(--blue);
}

.panel-heading-contact {
  color: var(--pink);
}

.intro {
  color: var(--yellow);
  /*   background-position-y: 20%; */
  transition: color 100ms;
}

.projects {
  color: var(--white);
  transition: color 100ms;
}

.skills {
  color: var(--blue);
  transition: color 100ms;
}

.contact {
  color: var(--pink);
  transition: color 100ms;
}

@media only screen and (max-width: 821px) {
}

@media only screen and (max-width: 480px) {
  .panel {
    font-size: 0.7rem;
  }
}
