.contact-container::-webkit-scrollbar {
  width: 10px;
  background-color: var(--scrollbar);
}

.contact-container::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px var(--scrollbar-thumb);
}

.contact-container {
  width: 100%;
  height: 85vh;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar) var(--scrollbar-thumb);
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-container > section {
  width: 90%;
  height: 90%;
  color: var(--white);
}

.lower-container {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scrolling-text-container {
  margin: 0 auto 0 0;
  height: 10%;
}

.scrolling-text-content {
  height: 1.2em;
  line-height: 1.2em;
  position: relative;
  overflow: hidden;
  width: 15em;
}

.scrolling-text-content > span {
  position: relative;
  left: 10%;
  font-weight: bold;
}

.scrolling-text-content.show > span {
  animation: slide 10s infinite;
}

.contact-main {
  height: 10%;
}

.contact-main-heading {
  margin: 0;
  padding: 2rem 0;
}
.contact-hoverElement {
  /*  height: 40%; */
  position: relative;
  cursor: pointer;
  font-size: 4rem;
  text-align: center;
  width: max-content;
  margin: 0 auto;
}

.contact-hoverElement:hover .contact-hoverElement-title {
  -webkit-text-stroke: none;
}

.contact-hoverElement-title::after {
  content: attr(data-menu-item-text);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-weight: 900;
  -webkit-text-stroke: 0.012em var(--white);
  color: transparent;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.menu-item-hover-image {
  width: 200px;
  height: 230px;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 75%;
  opacity: 0;
  transition: opacity 0.3s, transform 0.7s cubic-bezier(0.23, 1, 0.32, 1);
  margin: -115px 0 0 -99px;
  overflow: hidden;
  pointer-events: none;
  z-index: 2;
}

.contact-hoverElement:hover .menu-item-hover-image {
  opacity: 1;
}
.contact-hoverElement:hover .contact-hoverElement-title::after {
  opacity: 1;
  z-index: 3;
}

.contact-icons {
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.contact-icons > a > svg {
  color: var(--white);
  cursor: pointer;
}

.contact-footer {
  text-align: center;
  height: 5%;
  margin: 0;
  font-size: 1rem;
}

@keyframes slide {
  0% {
    top: 0;
  }
  12.5% {
    top: 0em;
  }
  25% {
    top: -1.2em;
  }
  37.5% {
    top: -1.2em;
  }
  50% {
    top: -2.4em;
  }
  62.5% {
    top: -2.4em;
  }
  75% {
    top: -3.6em;
  }
  87.5% {
    top: -3.6em;
  }
  100% {
    top: -4.8em;
  }
}

@media only screen and (max-width: 821px) {
}

@media only screen and (max-width: 480px) {
  .scrolling-text-container {
    text-align: center;
  }

  .scrolling-text-content {
    width: unset;
  }

  .scrolling-text-content > span {
    left: 0;
  }

  .contact-main-heading {
    text-align: center;
  }

  .contact-hoverElement {
    font-size: 2rem;
  }

  .contact-icons {
    gap: unset;
  }

  .contact-btn {
    height: 4rem;
  }
}
