.intro-container {
  width: 100%;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.underlined {
  text-underline-offset: 0.5rem;
  animation: underline 0.5s ease-in-out forwards;
  animation-delay: 1s;
}

.intro-text {
  padding: 0 30vw;
  font-size: 2rem;
  text-align: justify;
}

.myName,
.myTitle {
  animation: color-change 0.5s ease-in-out forwards;
  animation-delay: 1s;
}

.goto_next {
  font-size: 5rem;
}

.goto_next > span:hover {
  animation: color-change 0.5s ease-in-out forwards;
}

.bounce {
  -moz-animation: bounce 5s infinite;
  -webkit-animation: bounce 5s infinite;
  animation: bounce 5s infinite;
  animation-delay: 1s;
}

/* .tv-static {
  margin: auto;
  background-image: repeating-conic-gradient(#44475a, rgba(0, 0, 0) 0.00085%);
  animation: wobble 25s linear infinite;
}

@keyframes wobble {
  from {
    background-size: 50% 50%;
  }
  to {
    background-size: 10% 10%;
  }
} */

.intro-bg {
  animation: introTheme 21s linear infinite;
  animation-delay: 7s;
}
.intro-bg:after,
.intro-bg:before {
  content: '';
  display: block;
  position: fixed;
  z-index: -1;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  animation: introBackground 90s linear infinite;
}

.intro-bg:after {
  left: 15vw;
}

.intro-bg:before {
  right: 15vw;
  animation-delay: -30s;
  animation-direction: reverse;
}

@keyframes introTheme {
  0% {
    background: rgba(40, 42, 54, 0.1);
  }

  16% {
    background: rgba(82, 29, 138, 0.1);
  }

  33% {
    background: rgba(131, 31, 144, 0.1);
  }

  50% {
    background: rgba(171, 22, 22, 0.1);
  }

  66% {
    background: rgba(44, 29, 174, 0.1);
  }

  83% {
    background: rgba(31, 140, 51, 0.1);
  }

  100% {
    background: rgba(40, 42, 54, 0.1);
  }
}

@keyframes introBackground {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

@keyframes color-change {
  0% {
    color: unset;
  }
  100% {
    color: var(--red);
  }
}

@keyframes underline {
  0% {
    text-decoration: underline 0rem rgba(255, 0, 0, 0);
  }
  100% {
    text-decoration: underline 0.75rem var(--red);
  }
}

@media only screen and (max-width: 821px) {
  .intro-text {
    place-self: center;
    padding: 0 5rem;
    font-size: 2rem;
    text-align: justify;
  }

  .goto_next {
    font-size: 5rem;
  }
}

@media only screen and (max-width: 480px) {
  .intro-text {
    padding: 0 1rem;
    font-size: 1.5rem;
    text-align: justify;
  }

  .goto_next {
    font-size: 4rem;
  }
}
