:root {
  --foreground: #dcdfe4;
  --background-dark: #282a36;
  --background-light: #44475a;
  --black: #282c34;
  --white: #dcdfe4;
  --blue: #61afef;
  --cyan: #56b6c2;
  --green: #98c379;
  --pink: #c678dd;
  --red: #e06c75;
  --yellow: #e5c07b;
  --orange: #ffb86c;
  --dark-text: #000000;
  --scrollbar: #33465c;
  --scrollbar-thumb: #c4c9d0;
  --project1: var(--background-dark);
  --project2: #1a375e;
  --project3: #0d433b;
  --project4: #5b3a2a;
  --project5: #363c5f;
  --project6: #172845;
  --project7: #3a0c2c;
  --project8: #512938;
  --project9: var(--background-dark);
}

.blue {
  color: var(--blue);
}

.cyan {
  color: var(--cyan);
}

.green {
  color: var(--green);
}

.pink {
  color: var(--pink);
}

.red {
  color: var(--red);
}

.yellow {
  color: var(--yellow);
}

.orange {
  color: var(--orange);
}

.hide {
  opacity: 0;
}
